:root {
  --sky-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --selective-yellow: #ffb703ff;
  --ut-orange: #fb8500ff;
}

header {
  width: auto;
  background-color: var(--prussian-blue);
  color: var(--sky-blue);
  border-bottom: 5px solid var(--selective-yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  text-align: center;
}

.flash {
  color: var(--selective-yellow);
}

body {
  background-color: var(--blue-green);
  text-align: center;
  font-family: sans-serif;
}

#new-game-button {
  border: 2px solid var(--selective-yellow);
  background-color: var(--prussian-blue);
  color: var(--sky-blue);
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  justify-content: center;
}
.card {
  background-color: var(--sky-blue);
  height: 200px;
  width: 200px;
  border: 2px solid var(--prussian-blue);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  object-fit: cover;
}

.card p {
  font-size: large;
  color: var(--prussian-blue);
  z-index: 1000;
}

/* Grid for smaller screens (4x4 grid for iPads) */
/* @media screen and (max-width: 1024px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2vw;
  }

  .card {
    width: 175px;
    height: 175px;
  }
} */

/* @media screen and (max-width: 767px) and (orientation: landscape) {
  .row {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .card {
    width: 150px;
    height: 150px;
  }
}
  */

@media (max-width: 480px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .card {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 932px) and (orientation: landscape) {
  .row {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .card {
    width: 125px;
    height: 125px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
    cursor: pointer;
  }
  #new-game:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
    cursor: pointer;
  }
}
