:root {
  --sky-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --selective-yellow: #ffb703ff;
  --ut-orange: #fb8500ff;
}

html {
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--blue-green);
  text-align: center;
  font-family: sans-serif;
  flex-grow: 1;
}

header {
  background-color: var(--prussian-blue);
  color: var(--sky-blue);
  border-bottom: 4px solid var(--selective-yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

#status {
  color: var(--selective-yellow);
}

#tries {
  margin-left: 10px;
}

#new-game-button,
.game-mode-select {
  border: 2px solid var(--selective-yellow);
  background-color: var(--prussian-blue);
  color: var(--sky-blue);
  margin-right: 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}
.card {
  background-color: var(--sky-blue);
  height: 200px;
  width: 200px;
  border: 2px solid var(--prussian-blue);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--prussian-blue);
}

.card img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  object-fit: cover;
}

.card p {
  font-size: large;
  color: var(--prussian-blue);
  z-index: 1000;
}

@media (max-width: 480px) {
  body {
    font-size: 0.8rem;
    flex-grow: 1;
  }
  .row {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .card {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 932px) and (orientation: landscape) {
  body {
    font-size: 0.8rem;
  }
  .row {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .card {
    width: 125px;
    height: 125px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
    cursor: pointer;
  }
  #new-game:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
    cursor: pointer;
  }
}
